# SandBox

While I'm studying, I will put here whatever thing that I think is worthed to save.

In [53]:
# Import relevant libraries
import pandas as pd
import numpy as np

In [24]:
# ERROR with question 16
# Some takeaways
# how to use 
# ---> reindex() # explain very well its functionality
# ---> reset_index() # it reset all or only one by one in order?
# ---> set_index(append = True) # append = True helps us to keep the previous index
data = {
    "Takeout" : [False, False, True, True, False, False],
    "Name" : ["Victor", "Felipe", "Maria", "Lucia", "Angel", "Tara"],
    "Spent" : np.random.randn(6)
}

index = ["Dinner", "Dinner", "Dinner", "Lunch",  "Lunch",  "Lunch"]

index = pd.Index(index, name="Time")

df = pd.DataFrame(data, index=index)

df

        Takeout    Name     Spent
Time
Dinner    False  Victor -0.547380
Dinner    False  Felipe  0.776915
Dinner     True   Maria  0.501321
Lunch      True   Lucia -0.187809
Lunch     False   Angel  2.047441
Lunch     False    Tara  0.237202

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, Dinner to Lunch
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Takeout  6 non-null      bool
 1   Name     6 non-null      object
 2   Spent    6 non-null      float64
dtypes: bool(1), float64(1), object(1)
memory usage: 322.0+ bytes

In [19]:
df.loc['Dinner', True]

KeyError: 'True: boolean label can not be used without a boolean index'

In [20]:
df = df.set_index("Takeout", append=True)
df

                  Name     Spent
Time   Takeout
Dinner False    Victor  0.883936
       False    Felipe  1.104008
       True      Maria  0.067684
Lunch  True      Lucia -1.133168
       False     Angel  0.575023
       False      Tara  0.001029

In [22]:
df.loc["Dinner", True]

/tmp/ipykernel_1294/1162552250.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df.loc["Dinner", True]

                 Name     Spent
Time   Takeout
Dinner True     Maria  0.067684

In [23]:
df.loc["Dinner", True]['Name']

/tmp/ipykernel_1294/1741908984.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df.loc["Dinner", True]['Name']

Time    Takeout
Dinner  True       Maria
Name: Name, dtype: object

In [38]:
# question 14: possible error
# the answer of ChatGPT is correct
# reset_index -> reset a DataFrame to a default index
data = {
    "A": [1, 2, 3],
    "B": [4, 5, 6],
}
index = [10, 11, 12]

df = pd.DataFrame(data, index=index)
df

    A  B
10  1  4
11  2  5
12  3  6

In [39]:
df_reset = df.reindex()
df_reset # doesn't reset

    A  B
10  1  4
11  2  5
12  3  6

In [33]:
df_reset = df.reset_index(drop=True)
df_reset # it reset to a default index

   A  B
0  1  4
1  2  5
2  3  6

In [54]:
# question 5

data = {
    "food" : [2, 55, 41, 99],
    "gold" : [25, 81, 30, 81],
    "stone" : [90, 65, 24, 42]
}

index = ["blue", "red", "green", "yellow"]
index = pd.Index(index, name="player")
df1 = pd.DataFrame(data, index)
df1

        food  gold  stone
player
blue       2    25     90
red       55    81     65
green     41    30     24
yellow    99    81     42

In [55]:
data = {
    "food" : [94, 89, 91, 81],
    "wood" : [21, 18, 67, 71],
    "gold" : [28, 47, 0, 85]
}

index = ["cyan", "pink", "grey", "orange"]
index = pd.Index(index, name="player")
df2 = pd.DataFrame(data, index)
df2

        food  wood  gold
player
cyan      94    21    28
pink      89    18    47
grey      91    67     0
orange    81    71    85

In [56]:
df1.index

Index(['blue', 'red', 'green', 'yellow'], dtype='object', name='player')

In [72]:
result2 = pd.concat([df1, df2],).reset_index()
result2

   player  food  gold  stone  wood
0    blue     2    25   90.0   NaN
1     red    55    81   65.0   NaN
2   green    41    30   24.0   NaN
3  yellow    99    81   42.0   NaN
4    cyan    94    28    NaN  21.0
5    pink    89    47    NaN  18.0
6    grey    91     0    NaN  67.0
7  orange    81    85    NaN  71.0

In [64]:
pd.concat([df1, df2], ignore_index=True)[["player", "food", "gold", "stone", "wood"]]

KeyError: "['player'] not in index"

In [61]:
result = pd.concat([df1,df2], ignore_index=True)
result["player"] = df1.index.append(df2.index)
result = result[["player", "food", "gold", "stone", "wood" ]]
result

   player  food  gold  stone  wood
0    blue     2    25   90.0   NaN
1     red    55    81   65.0   NaN
2   green    41    30   24.0   NaN
3  yellow    99    81   42.0   NaN
4    cyan    94    28    NaN  21.0
5    pink    89    47    NaN  18.0
6    grey    91     0    NaN  67.0
7  orange    81    85    NaN  71.0